# Creating a database

Here you will be creating the data that will go into your database. The data is created in python and will be turned into a database in SQLite.

In [114]:
import numpy as np
import pandas as pd
import random
import string
from faker import Faker

We need to create data of various formats: nominal, ordinal, interval and ratio.
Let's pick the topic of house sales.

That's a minimal example, now create some additional (at least 4 more) columns for any the following concepts:
- Number of Bedrooms
- Number of Bathrooms
- Total Square Footage
- Property Type (Detached, Semi-Detached, etc.)
- Number of Floors
- Furnishing (Finished, Unfinished)
- Garden Size
- Time on Market
- Mortgage Rate
- Number of Previous Owners
- Pet-Friendly (Yes/No)
- Appliances Included
- Internet Connectivity (Fiber, DSL, etc.)
- Local Crime Rate
- Distance to Nearby Schools
- Distance to Motorway
- Name of Seller


Random is better and make sure to ensure the numbers **make sense** and have a consistent N.
Read the numpy random documentation for ideas on different distributions.

Most real databases have missing data or otherwise undesirable values, "filler" values. You can simulate this with masking. Note that integers cannot have NaNs as options (so not np.random.randint).

You should apply something similar to your created data. Also of use if you want to mask out given values (rather than randomly selecting indices), is to use np.where(condition, thing to do if true, thing to do if false).

In [121]:
# Number of samples
n = 1000

fake = Faker()

# Generate random employee names (Nominal) without duplicates

#first_names = ["Brooklyn","Alice", "Gerardo", "Deema", "Charlie", "Jaxon", "Mayar", "Noura", "Grace", "Mira", "Ian", "Yazan", "leif","Efren", "Cristal", "Emerald", "Annie", "Jaela", "Anjelica", "Khalid"]
#last_names = ["Smith", "Spence" "Afaneh", "Witte", "Brown", "Mosmar", "Horner" "Mizel", "Judge", "Martinez", "Robinson", "Nusair", "Wilson", "Young", "noble","law","crenshaw", "goebel", "barr", "pfeifer"]

# while len(writer_names) < n:
#    full_name = f"{random.choice(first_names)} {random.choice(last_names)}"
#    if full_name not in unique_names:
#        writer_names.append(full_name) 

unique_names = set()

while len(unique_names) < 1000:
    unique_names.add(fake.name())

# Convert the set to a list if needed
writer_names = list(unique_names)

# Generate random employment dates (Interval)
birth_year = np.random.randint(1950, 2000, n)
birth_month = np.random.randint(1,13,n)
birth_day = np.random.randint(1,29,n)
birth_date = [f'{joining_year[i]}-{str(joining_month[i]).zfill(2)}-'
                     f'{str(joining_day[i]).zfill(2)}' for i in range(n)]

# Generate Education Levels (Ordinal Data) with assigned weights
education_levels = ["Diploma", "Bachelor's Degree", "Master's Degree", "Ph.D."]
e_weights = [0.10, 0.40, 0.30, 0.20]  
education_data = np.random.choice(education_levels, n, p=e_weights)
        
# Generate book names
address = [fake.address() for _ in range(n)]

employees = pd.DataFrame({
    'name': writer_names,
    'address': address,
    'birth_date': birth_date,
    'education_level':education_data
})

employees.index = np.arange(1,len(df)+1)
print(employees.head())

# Information of Writers
df_employees = employees[['name', 'address', 'birth_date', 'education_level']]

# Save to CSV file
df_employees.to_csv('writers.csv',header = True,index = True, index_label = 'id')

                name                                            address
1          James Ray  1387 Natasha Land Suite 427\nHarpermouth, WI 8...  \
2      Natasha Wells  838 Kevin Orchard Suite 111\nPort Amber, RI 39191
3  Christina Jenkins            581 Taylor Oval\nZacharyville, NE 98594
4    Hector Martinez  496 Gray Center Apt. 415\nEast Staceyside, FM ...
5         Shawn Reid               562 Felicia Key\nJamestown, UT 72079

   birth_date    education_level
1  2000-05-10  Bachelor's Degree
2  2006-04-12  Bachelor's Degree
3  2004-01-27    Master's Degree
4  2000-02-19  Bachelor's Degree
5  2003-02-23    Master's Degree

In [122]:
# Generate Genre Data (Nominal)
genres = ['Mystery', 'Science Fiction', 'Fantasy', 'Romance', 'Thriller', 'Historical Fiction', 'Non-Fiction']

# Data for Genres table
genres = pd.DataFrame({
    'name': genres,
})

genres.index = np.arange(1,len(genres)+1)
print(genres)

# Information on Genres
df_genres = genres[['name']]

# Save to CSV file
df_genres.to_csv('genres.csv', header=True, index=True, index_label='id')

                 name
1             Mystery
2     Science Fiction
3             Fantasy
4             Romance
5            Thriller
6  Historical Fiction
7         Non-Fiction

In [123]:
# Generate book names
book_names = [fake.catch_phrase() for _ in range(2000)]

# Generate books publish date
publish_dates = [fake.date() for _ in range(2000)]

# Ratio data: Price of book
prices = np.random.lognormal(mean=5, sigma=0.5, size=2000).astype(float)

# Introduce null values (e.g., replace 5% of the values with None)
null_percentage = 5
num_nulls = int(len(prices) * (null_percentage / 100))
indices_to_nullify = np.random.choice(len(prices), num_nulls, replace=False)

price_with_nulls = prices.copy()
price_with_nulls[indices_to_nullify] = np.nan

random_descriptions = [fake.text() for _ in range(2000)]

books = pd.DataFrame({
    'writer_id': np.random.randint(1, 1001, size=2000),
    'name': book_names,
    'publish_date': publish_dates,
    'price': price_with_nulls,
    'description': random_descriptions
})

books.index = np.arange(1,len(books)+1)
print(books.head())

# Information of Books
df_books = books[['writer_id','name', 'publish_date', 'price', 'description']]

# Save to CSV file
df_books.to_csv('books.csv', header=True, index=True, index_label='id')

   writer_id                                       name publish_date
1        968  Vision-oriented disintermediate emulation   1978-02-28  \
2        472    Triple-buffered zero tolerance alliance   2013-12-12
3        983        Profound asymmetric instruction set   1986-08-09
4        666      Managed cohesive budgetary management   1989-12-05
5        631                 Secured methodical product   2008-04-12

        price                                        description
1  129.485541  White by expert hotel those usually reason. Vo...
2   93.563595  Glass event improve kind each improve. Languag...
3  207.899788  Boy opportunity important ok. Maintain if deve...
4  146.784733  Mr member game mention experience affect here....
5         NaN  Do town ask surface another strong million. We...

It is helpful to set as your dataframe index, the primary key of the database, as this is by default saved to the output csv. Note that this can be a compound key.

In [124]:
print(np.random.randint(1, 1001, size=2000),)

books_genre = pd.DataFrame({
    'book_id': np.random.randint(1, 1001, size=2000),
    'genre_id': np.random.randint(1, 8, size=2000)
})


books_genre.index = np.arange(1,len(books_genre)+1)
print(books_genre.head())

# Information of Books
df_books = books_genre[['book_id', 'genre_id']]

# Save to CSV file
df_books.to_csv('books_genre.csv', header=True, index=True, index_label='id')

[688 504 429 ... 828 504 272]
   book_id  genre_id
1      890         4
2      995         6
3      741         2
4      454         3
5      718         6

Okay, now for splitting a pandas dataframe into multiple csvs, we need to select different columns at once.
To do so, pass a list of column names to the dataframe.

The tables to be saved depend upon what columns you have created.

## Outputting csvs to SQLite
- Open SQLite Browser
- New database, save as house_database.db
- Ensure you are on the database structure tab
- File > Import > Table from CSV file
- Check the preview looks as expected then confirm the import
- Write changes (if you skip this, it will prompt you on the next step)
- Right click on the new table then modify table
- Check the boxes as appropriate, Primary Key, Not Null, Auto Increment, Unique
- On some tables, scroll along to the right and click on the foreign key section, and assign the relation/attribute

Once all of this is complete, perform any JOIN transaction under the Execute SQL tab.
From that join, use the SQLite plotting functionality to make a basic scatter plot.

Upload the image from your scatter plot (there is a button to save the image) to this notebook below:

![title](yourimage.png)